@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    /* display: none; */
    background-color: #424242;
    height: 6px;
    width: 6px;
    scroll-snap-type: proximity;
  }
  .no-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cfcece; /* Red color for the thumb */
    border-radius: 3px; /* Optional: To make the thumb rounded */
  }
  .no-scrollbar {
    /* -ms-overflow-style: none; */
    scroll-behavior: smooth;
  }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #fff;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

:root {
  --bg-body: #141414;
  --bg-main: #1c1c1c;
  --text-main: #ffffff;
  --text-p: #adadad;
  --border-main-color: #383737;
  --border-second-color: #292828;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-p);
  background-color: var(--bg-body);
}

.bg-body {
  background-color: var(--bg-body);
}
.bg-body-90 {
  background-color: var(--bg-body);
}
.bg-main {
  background-color: var(--bg-main);
}

.text-main {
  color: var(--text-main);
}
.text-p {
  color: var(--text-p);
}
.border-main {
  border-color: var(--border-main-color);
}
.border-second {
  border-color: var(--border-second-color);
}
.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-s {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-e {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.anim-opacity {
  animation: anim-opacity 0.4s both 0.2s;
}
@keyframes anim-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50vw);
  }
}

.scrolling {
  white-space: nowrap;
  animation: scroll 10s linear infinite;
}
